@import "node_modules/bootstrap/scss/forms";

textarea {
  resize: none;
}

.form-group {
  padding-left: 1em;
}

.form-group:not(:has(.error-summary-widget)):has(.error-message) {
  border-left: 5px solid theme-color("danger");

  > .form-label {
    color: theme-color("danger");
  }

  > .form-control, > .input-group > .form-control {
    border: 2px solid theme-color("danger");
    box-shadow: inset 0 0 0 2px theme-color("danger");
  }

  > .form-radio, > .input-group > .form-radio {
    .form-radio-label:before {
      border: 2px solid theme-color("danger");
    }
  }

  > .form-check, > .input-group > .form-check {
    .form-check-label:before {
      border: 2px solid theme-color("danger");
    }
  }
}

.form-control {
  border: 2px solid #0b0c0c;
  border-radius: 0;
  min-height: calc(1em + 1rem + 2px);
  font-size: 1rem;

  &:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
    border-color: unset;
    color: unset;
    background-color: unset;
  }
}

.form-check {
  position: relative;
  display: flex;
  padding-left: unset;
  align-items: center;

  .form-check-label {
    padding: 0.5rem 1rem;
  }

  .form-check-input {
    position: unset;
    margin: unset;
    z-index: 1;
    opacity: 0;
    float: unset;
    cursor: pointer;
    min-height: unset;
    padding: unset;
    font-size: unset;
    height: 24px;
    width: 24px;

    & + .form-check-label {
      &:before {
        margin-left: calc(-1rem - 24px);
        height: 24px;
        width: 24px;
      }

      &:after {
        border-width: 0 0 5px 5px;
        top: 10px;
        left: 7px;
        width: 23px;
        height: 12px;
      }
    }

    &.form-control-lg {
      min-height: unset;
      padding: unset;
      font-size: unset;
      height: 2em;
      width: 2em;

      & + .form-check-label {
        &:before {
          margin-left: calc(-1rem - 32px);
          height: 32px;
          width: 32px;
        }

        &:after {
          border-width: 0 0 5px 5px;
          top: 13px;
          left: 7px;
          width: 32px;
          height: 12px;
        }
      }
    }

    &.form-control-sm {
      min-height: unset;
      padding: unset;
      font-size: unset;
      height: 1em;
      width: 1em;

      & + .form-check-label {
        //padding-left: 1.5em;

        &:before {
          margin-left: calc(-1rem - 16px);
          height: 16px;
          width: 16px;
        }

        &:after {
          border-width: 0 0 5px 5px;
          top: 8px;
          left: 3px;
          width: 18px;
          height: 8px;
        }
      }
    }
  }

  .form-check-input:focus + .form-check-label:before {
    border-width: 4px;
    outline: 3px solid transparent;
    outline-offset: 1px;
    box-shadow: 0 0 0 3px #fd0;
  }

  .form-check-input:checked + .form-check-label:after {
    opacity: 1;
  }

  .form-check-label {
    padding: 0.5rem 1rem;

    &:after, &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      background: transparent;
    }

    &:before {
      width: 40px;
      height: 40px;
      border: 2px solid #0b0c0c;
    }

    &:after {
      transform: rotate(-45deg);
      border: solid;
      border-top-color: transparent;
      opacity: 0;
    }
  }
}

.form-radio {
  position: relative;
  display: flex;
  padding-left: unset;
  align-items: center;

  .form-radio-input {
    position: unset;
    margin: unset;
    z-index: 1;
    opacity: 0;
    float: unset;
    cursor: pointer;
    min-height: unset;
    padding: unset;
    font-size: unset;
    height: 24px;
    width: 24px;

    & + .form-radio-label {
      &:before {
        margin-left: calc(-1rem - 24px);
        height: 24px;
        width: 24px;
      }

      &:after {
        top: 15px;
        left: 7px;
        border: 5px solid #0b0c0c;
        width: 5px;
        height: 5px;
      }
    }


    &.form-control-lg {
      min-height: unset;
      padding: unset;
      font-size: unset;
      height: 2em;
      width: 2em;

      & + .form-radio-label {
        &:before {
          margin-left: calc(-1rem - 32px);
          height: 32px;
          width: 32px;
        }

        &:after {
          top: 16px;
          left: 9px;
          border: 8px solid #0b0c0c;
          width: 8px;
          height: 8px;
        }
      }
    }

    &.form-control-sm {
      min-height: unset;
      padding: unset;
      font-size: unset;
      height: 1em;
      width: 1em;

      & + .form-radio-label {

        &:before {
          margin-left: calc(-1rem - 16px);
          height: 16px;
          width: 16px;
        }

        &:after {
          top: 13px;
          left: 13px;
          border: 3px solid #0b0c0c;
          width: 5px;
          height: 5px;
        }
      }
    }
  }

  .form-radio-input:focus + .form-radio-label:before {
    border-width: 4px;
    outline: 3px solid transparent;
    outline-offset: 1px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fd0;
  }

  .form-radio-input:checked + .form-radio-label:after {
    opacity: 1;
  }

  .form-radio-label {
    padding: 0.5rem 1rem;

    &:after, &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      background: transparent;
    }

    &:before {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #0b0c0c;
    }

    &:after {
      z-index: 3;
      opacity: 0;
      border-radius: 50%;
    }
  }
}
